* {
    font-family: "Open Sans,Sans-Serif";
}

.fon {
    display: flex;
    width: 1440px;
    height: 100vh;
    justify-content: center;

    background: #f7ecde;
    flex-wrap: wrap;



}

.text {
    position: absolute;
    left: 57vh;
    padding-top: 80px;
    max-width: 258px;

    /* left: 591px; */
    color: #e9c597;
    /* margin-top: 8vh; */
    /* width: 25vh; */
    /* margin-top: 80px; */
    /* width: 258px; */
    /* height: 58px; */
    text-align: center;
    font-size: 2.7vh;
    /* font-size: 28px; */
    font-weight: 800;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: unset;
    font-variation-settings: "wdth" 1000;
    line-height: 2.5vh;
    /* line-height: 28.8px; */
}



.sleep button {
    position: absolute;
    left: 1350px;
    margin-top: 50px;
    background: url(/figma/img2/sleep.png);
    width: 41px;
    height: 41px;
    border-style: none;
    cursor: pointer;
}

    {
    /* background: url(/figma/img2/sleep.png);
    width: 41px;
    height: 41px;
    border-style: none;
    cursor: pointer; */
}

.object {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    max-width: 911px;
    gap: 11px;
    flex-wrap: wrap;
}


.categories {
    display: flex;
    flex-direction: column;
    /* width: 250px; */
    /* justify-content: center; */
    height: 49vh;
    align-items: center;
    background: #54bab9;
    border-radius: 10px;
    position: relative;
    /* top: 24vh;
    left: 25vh; */
    box-shadow: #38938a 0px 5px;


}

.categories2 {
    display: flex;
    /* width: 24vh; */
    /* height: 27px; */
    color: #e4e4e4;
    /* font-size: 27px; */
    font-size: 2.5vh;
    /* position: relative; */

    /* display: inline-block; */
    /* text-align: center; */
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding-top: 10px;



}

.categories2:before,
.categories2:after {
    background: #e4e4e4;
    height: 1px;
    content: "";
    flex: 1;
    /* margin-top: 1.5vh; */
    width: 5vh;

}

.shild {

    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    font-size: 2vh;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vh;

    padding-top: 100px;




}

.A {
    position: static;
    border-radius: 10px;
    background: #4caf50;
    width: 95%;
    height: 2.5vh;
    text-align: center;
    padding-top: 5px;

}

.B {
    position: static;
    width: 19vh;
    height: 2.5vh;
    border-radius: 10px;
    text-align: center;
    background-color: #ff5252;
    padding-top: 5px;
}

.C {
    position: static;
    border-radius: 10px;
    text-align: center;
    width: 19vh;
    height: 2.5vh;
    background: #ffc107;
    padding-top: 5px;

}

.D {
    position: static;
    border-radius: 10px;
    text-align: center;
    width: 19vh;
    height: 2.5vh;
    background: #9c27b0;
    padding-top: 5px;
}

.E {

    position: static;
    border-radius: 10px;
    width: 19vh;
    height: 2.5vh;
    text-align: center;
    background: #25a7b8;
    padding-top: 5px;
}

.add1 button {

    position: absolute;
    width: 19vh;
    height: 2.5vh;
    border-radius: 10px;
    background: #38938a;
    font-family: "Open Sans,Sans-Serif ";
    font-weight: 800;
    font-size: 2vh;
    color: #f6f6f6;
    align-self: center;
    cursor: pointer;
    border: none;
    top: 41vh;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.rightpanel {

    display: flex;
    justify-content: space-between;

    height: 49vh;
    flex-direction: column;
    flex: 2;
    position: relative;

}

.toppanel {
    display: flex;
    /* width: 60vh; */
    /* width: 650px; */
    height: 56px;
    border-radius: 10px;
    background: #54bab9;
    /* position: relative; */
    box-shadow: 0px 5px #38938a;
    align-items: center;
    justify-content: space-around;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: unset;
    position: relative;


}

.task2 {
    width: 70px;
    height: 27px;
    border: none;
    color: #1d8a8a;
    font-family: "Open Sans, Sans-Serif ";
    font-size: 18px;
    background: #54bab9;
    font-weight: 700;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: unset;
    line-height: 27px;
}

.new2 {
    /* width: 200px; */
    /* height: 31px; */
    border-radius: 10px;
    background-color: #38938a;
    font-family: "Open Sans,Sans-Serif";
    font-size: 18px;
    font-weight: 800;
    border: none;
    color: #f6f6f6;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: unset;
}

.clear2 {
    /* width: 164px;
    height: 27px; */
    border: none;
    font-size: 18px;
    font-weight: bold;
    font-family: "Open Sans,Sans-Serif";
    color: #1d8a8a;
    background: #54bab9;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: unset;


}

.bottompanel {

    display: flex;
    width: 40vh;
    flex-direction: column;
    align-items: center;
    font-family: "Open Sans,Sans-Serif";
    font-size: 20px;
    font-weight: 200;
    color: #ffffff;
    font-optical-sizing: auto;
    font-style: unset;
    position: absolute;


}

::-webkit-scrollbar {
    width: 3px;

}

::-webkit-scrollbar-track {
    background: orange;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background: #1d8a8a;

}





.pading {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    background: #54bab9;
    font-family: "Open Sans,Sans-Serif";
    font-size: 20px;
    font-weight: 200;
    color: #ffffff;
    font-optical-sizing: auto;
    font-style: unset;
    margin-top: 10px;
    justify-content: center;

}

.chek1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    flex: 1;



}

.chek2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    border-top: 1px solid #ffffff;
    flex: 1;

}

.chek3 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;


    border-top: 1px solid #ffffff;
    flex: 1;
}

.chek4 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;


    border-top: 1px solid #ffffff;
    flex: 1;
}

.chek5 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 7vh;
    border-top: 1px solid #ffffff;
    flex: 1;
}

.bottom {
    display: flex;
    /* width: 650px; */
    height: 50px;
    background: #54bab9;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0px 5px #38938a;
    border-top: 1px solid #ffffff;
    align-items: center;
    justify-content: center;
}

.activ {
    display: flex;
    width: 66px;
    height: 27px;
    cursor: pointer;
    border: none;
    background: #54bab9;
    color: #44a0a0;
    font-weight: 800;
    font-size: 20px;
    padding-right: 80px;


}

.all {

    display: flex;
    width: 28px;
    height: 27px;
    cursor: pointer;
    background: #54bab9;
    color: #f6f6f6;
    font-weight: 800;
    font-size: 20px;
    border: none;

}

.coml {
    display: flex;
    width: 112px;
    height: 27px;
    border: none;
    cursor: pointer;
    background: #54bab9;
    color: #44a0a0;
    font-weight: 800;
    font-size: 20px;
    padding-left: 20px;

}

input[type="checkbox"] {
    display: none;
    cursor: pointer;


}



i {
    display: inline-block;
    width: 30px;
    height: 30px;

    position: relative;
    background: #4caf50;

}

input[type="checkbox"]+i {
    border-radius: 50%;
    cursor: pointer;

}

i:before {
    content: "";
    position: absolute;
    background: url(/figma/img2/vector.png);
    border-radius: 50%;
    transform: scale(0);
    transition: 0.4s;

}

input:checked+i:before {
    display: flex;

    transform: scale(1);
    background: url(/figma/img2/vector.png);
    width: 15px;
    height: 10px;
    top: 8px;

    left: 8px;
}

.A1 {
    position: static;
    border-radius: 10px;
    background: #4caf50;
    width: 7vw;
    height: 2.5vh;
    text-align: center;
    padding-top: 5px;

}

.B1 {
    position: static;
    width: 19vh;
    height: 2.5vh;
    border-radius: 10px;
    text-align: center;
    background-color: #ff5252;
    padding-top: 5px;
}

.C1 {
    position: static;
    border-radius: 10px;
    text-align: center;
    width: 19vh;
    height: 2.5vh;
    background: #ffc107;
    padding-top: 5px;

}

.D1 {
    position: static;
    border-radius: 10px;
    text-align: center;
    width: 19vh;
    height: 2.5vh;
    background: #9c27b0;
    padding-top: 5px;
}

.E1 {

    position: static;
    border-radius: 10px;
    width: 19vh;
    height: 2.5vh;
    text-align: center;
    background: #25a7b8;
    padding-top: 5px;
}